body {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

.last-result {
  color: black;
  padding: 3px;
}

.result-paras {
  /* background-color: aquamarine; */
  /* height: 100px; */
}
